[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2025.6.15"
charset-normalizer = "==3.4.2"
idna = "==3.10"
urllib3 = "==2.5.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
